@import "src/styles";

.container {
  background: linear-gradient(60deg, $color_yellow_200 0%, $color_yellow_100 100%);

  .main {
    padding: 0 7rem;
    height: 100vh;

    @media (max-width: $breakpoint_first) {
      height: 100%;
      margin-bottom: 3rem;
    }

    @media (max-width: 1238px) {
      width: 100%;
      box-sizing: border-box;
      padding: 0 0.5rem;
    }
  }

  .flex {
    align-items: flex-start;
    margin: 0;
  }

  .flow-row {
    flex-flow: wrap;
    flex-direction: row;
    width: 100%;

    @media (max-width: 1238px) {
      flex-flow: wrap;

      &:first-child {
        margin-top: 3rem;
      }
    }
  }

  section {
    margin: 0;
  }

  app-common-input-search {
    margin-top: 3rem;
    width: 100%;

    @media (max-width: $breakpoint_first) {
      margin-top: 0;
    }
  }

  .summary {
    border-radius: 0;
  }
}
