@import "src/styles";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 20vh;
  text-transform: uppercase;
  align-items: center;

  h1 {
    display: contents;
  }

  @media (max-width: $breakpoint_first) {
    & {
      padding: 15vh 5vw;
    }
  }
}
