@import "src/styles";

.toast {
  .card {
    height: 100%;
    background-color: $color_white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-left: 0.5rem solid $color_black_400;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    gap: 1.5rem;

    @media (max-width: 1238px) {
      gap: 0.5rem;
    }

    .subject {
      p {
        color: $color_black_200;
      }
    }

    img {
      width: 2.5rem;
      height: auto;
    }

  }
}

