@import "src/styles";

.container {
  background: linear-gradient(60deg, $color_yellow_200 0%, $color_yellow_100 100%);

  .main {
    padding: 3rem 17rem 3rem 17rem;
    @media (max-width: 1238px) {
      width: 100%;
      padding: 0;
    }
  }

  .action {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;

    @media (max-width: 820px) {
      position: relative;
    }
  }

  .whole-page {
    height: 100vh;
  }

  .flex {
    align-items: flex-start;
  }

  .flow-row {
    flex-flow: nowrap;
    flex-direction: row;

    @media (max-width: 1238px) {
      flex-flow: wrap;

      &:first-child {
        margin-top: 3rem;
      }
    }

    .app-common-toast {
      width: 100%;
    }
  }

  app-private-room-type-card {
    width: 100%;
  }
}
