<div class="container">
  <app-common-loading-data-window [message]="'loading'" [visibility]="this.busy"></app-common-loading-data-window>
  <app-private-nav-bar></app-private-nav-bar>
  <div class="main" [ngClass]="{ 'whole-page': !this.errorDto.result }">
    <div *ngIf="this.errorDto.result" class="flex flow-row">
      <app-private-room-type-card [availableRoomType]="this.createAvailableRoomType()">
        <div class="action">
          <button class="btn btn-secondary" (click)="this.onButtonCancelClick()">
            Cancel
          </button>
        </div>
      </app-private-room-type-card>
    </div>
    <div *ngIf="!this.errorDto.result" class="flex flow-row">
      <app-common-toast [message]="this.errorDto.message ?? ''"></app-common-toast>
    </div>
    <div *ngIf="this.errorDto.result" class="flex flow-row">
      <app-common-details [title]="'Reservation'"
                          [detailList]="this.createReservationDetailList()"></app-common-details>
    </div>
    <div *ngIf="this.errorDto.result" class="flex flow-row">
      <app-common-details [title]="'Transaction'"
                          [detailList]="this.createTransactionDetailList()"></app-common-details>
    </div>
  </div>
  <app-common-footer></app-common-footer>
</div>
