<div class="container">
  <app-private-nav-bar></app-private-nav-bar>
  <div class="skew-c"></div>
  <div class="colour-block">
    <div class="flex flow-row">
      <div class="flex flow-col">
        <img id="user-home" src="assets/images/user-home.png" alt="user-home">
      </div>
      <div id="content" class="flex flow-col">
        <h1>Reserve a room and make your dreams come true</h1>
        <button type="button" class="btn btn-primary space-top">Reserve</button>
      </div>
    </div>
  </div>
  <div class="skew-cc"></div>
</div>
<app-common-footer></app-common-footer>
