@import "src/styles";

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  background: linear-gradient(60deg, $color_yellow_200 0%, $color_yellow_100 100%);

  img#background {
    height: 100vh;
    right: 0;
    width: auto;
    z-index: 1;
    position: absolute;
  }

  .colour-block {
    background: transparent;
    height: 100%;
    display: flex;
    color: $color_black_400;

    .flow-row {
      justify-content: center;
      text-align: center;
    }

    .flow-col {
      width: 100%;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  & {
    @media (max-width: $breakpoint_first) {
      align-items: center;
      justify-content: center;
    }
  }
  gap: 4rem;
  width: 100%;
  max-width: 1000px;
  margin: 10vh auto;
}

strong {
  font-weight: 600;
}

.features {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    text-transform: none;
    gap: .5rem;

    & + * {
      margin-top: .75rem;
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

app-common-card {
  z-index: 1 !important;
}

app-common-footer {
  position: relative;
  z-index: 1 !important;
}
