@import "src/styles";

.container {
  background: linear-gradient(60deg, $color_yellow_200 0%, $color_yellow_100 100%);

  .main {
    padding: 0 7rem;
    @media (max-width: 1238px) {
      width: 100%;
      padding: 0 0.5rem;
      box-sizing: border-box;
    }
  }

  .flex {
    align-items: flex-start;
  }

  .flow-row {
    flex-flow: nowrap;
    flex-direction: row;
    margin: 0;

    @media (max-width: 1238px) {
      &#summary:first-child {
        margin-top: 3rem;
      }
      flex-flow: wrap;
    }
  }

  .col-small {
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    background: $color_black_400;
    border-radius: 0 0 0.8rem 0.8rem;

    @media (max-width: 1238px) {
      width: 100%;
      padding: 0 1rem;
    }
  }

  .col-large {
    margin: 0;
    width: 100%;
    padding: 3rem 0 3rem 3rem;

    .container-box {
      padding: 1rem;
    }

    app-private-room-type-card-summary {
      width: 100%;
      margin-top: 3rem;
    }

    .additional-data-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: $color_black_400;
      width: 100%;
      border-radius: 0 0.8rem 0.8rem 0.8rem;
      color: $color_yellow_200;

      h2 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }

      app-private-select {
        width: 100%;
        color: $color_yellow_200;
      }

      .flow-row {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        justify-content: space-between;
        align-items: center;

        .btn-secondary {
          margin-top: 1rem;
        }

        .flow-col {
          padding: 0;
          margin: 0;
        }

        span {
          font-size: 0.8rem;
        }

        &:last-child {
          margin: 0 0 0.8rem 0;
        }

        gap: 1.5rem;
        width: 97%;
      }

      input {
        width: 100%;
        color: $color_yellow_200;
        border-bottom: 0.1rem solid $color_yellow_200;
        top: 0.45rem;
        padding: 0 0 0.7rem 0;
        font-size: 0.8rem;

        @media (max-width: 1238px) {
          margin-bottom: 0.5rem;
        }
      }

      input::placeholder {
        color: $color_yellow_200;
      }
    }

    .additional-data-card + .additional-data-card {
      margin-top: 3rem;
    }

    @media (max-width: 1238px) {
      padding: 0 0 3rem 0;
    }
  }

  .summary {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color_yellow_200;
    height: 3rem;
    width: 100%;
    justify-content: space-between;
    background: $color_black_400;
    border-radius: 0.8rem 0.8rem 0.8rem 0;
    align-items: center;

    @media (max-width: 1238px) {
      border-radius: 0 0.8rem 0 0;
      width: 100%;
      padding: 0 1rem;
    }

    .cart {
      padding: 0;
      cursor: auto;

      img {
        width: 1.7rem;
        height: auto;
        cursor: auto;
      }

      span {
        color: $color_white;
        position: absolute;
        background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        border-radius: 100%;
        font-size: 0.8rem;
        outline: none;
        margin: 0;
        top: -0.5rem;
        right: -0.65rem;

        @media (max-width: $breakpoint_first) {
          right: 0;
        }
      }
    }
  }

  .filter-box {
    display: flex;
    top: 0;
    flex-direction: column;
    border-radius: 0 0 0.8rem 0.8rem;
    height: 100%;
    width: 15rem;
    padding: 0 1rem 1rem 1rem;

    @media (max-width: 1238px) {
      width: 100%;
      padding: 0 0 1rem 0;
    }

    .date-color {
      color: $color_white;
    }

    align-items: center;
    justify-content: center;
    background: $color_transparent;
    color: $color_yellow_200;

    .cost-summary {
      display: flex;
      justify-content: space-between;
      color: $color_yellow_200;
      width: 100%;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 0.65rem;
      border-bottom: 0.1rem solid $color_yellow_200;
      padding: 0 0 0.5rem 0;

      @media (max-width: $breakpoint_third) {
        align-items: center;
        flex-direction: column;
      }

      &#total {
        padding: 0.5rem 0 0 0;
        border-bottom: none;
        font-size: 1rem;
      }

      .flex {
        margin: 0;
        @media (max-width: $breakpoint_third) {
          align-items: center;
        }
      }

      span + span {
        margin-top: 0.8rem;
      }

      .align-right {
        align-items: flex-end;
        @media (max-width: $breakpoint_third) {
          align-items: center;
          margin-top: 0.7rem;
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      gap: 1rem;
      width: 100%;

      button {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
