@import "src/styles";

.container {
  background: linear-gradient(60deg, $color_yellow_200 0%, $color_yellow_100 100%);

  .main {
    padding: 0 7rem;
    @media (max-width: 1238px) {
      width: 100%;
      padding: 0 0.5rem;
      box-sizing: border-box;
    }
  }

  .flex {
    align-items: flex-start;
  }

  .flow-row {
    flex-flow: nowrap;
    flex-direction: row;
    margin: 0;

    @media (max-width: 1238px) {
      &#summary:first-child {
        margin-top: 3rem;
      }
      flex-flow: wrap;
    }
  }

  .col-small {
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    background: $color_black_400;
    border-radius: 0;

    @media (max-width: 1238px) {
      width: 100%;
      padding: 0 1rem;
    }
  }

  .col-large {
    margin: 0;
    width: 100%;
    padding: 3rem 0 3rem 3rem;

    .container-box {
      padding: 1rem;
    }

    app-private-room-type-card-summary {
      width: 100%;
      margin-top: 3rem;
    }

    .additional-data-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: $color_black_400;
      width: 100%;
      border-radius: 0;
      color: $color_yellow_200;

      h2 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }

      app-private-select {
        width: 100%;
        color: $color_yellow_200;
      }

      .flow-row {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        justify-content: space-between;
        align-items: center;

        .btn-secondary {
          margin-top: 1rem;
        }

        .flow-col {
          padding: 0;
          margin: 0;
        }

        span {
          font-size: 0.8rem;
        }

        &:last-child {
          margin: 0 0 0.8rem 0;
        }

        gap: 1.5rem;
        width: 97%;
      }

      input {
        width: 100%;
        color: $color_yellow_200;
        border-bottom: 0.1rem solid $color_yellow_200;
        top: 0.45rem;
        padding: 0 0 0.7rem 0;
        font-size: 0.8rem;

        @media (max-width: 1238px) {
          margin-bottom: 0.5rem;
        }
      }

      input::placeholder {
        color: $color_yellow_200;
      }
    }

    .additional-data-card + .additional-data-card {
      margin-top: 3rem;
    }

    @media (max-width: 1238px) {
      padding: 0 0 3rem 0;
    }
  }
}
