@import "src/styles";

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: $color_black_400;

  @media (max-width: 1238px) {
    flex-flow: wrap;
  }

  .col-left {
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint_first) {
      width: 100%;
    }

    .col-opinion {
      display: flex;
      flex-direction: row;
      height: 3rem;
      gap: 0.8rem;
      color: $color_yellow_200;
      width: 100%;

      .col-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 100%;
        background: $color_white;
        color: $color_yellow_200;
        border-bottom-right-radius: 0.8rem;
      }

      .col-text {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 0.6rem;

        span {
          strong {
            font-size: 0.8rem;
          }
        }

        span + span {
          margin-top: 0.2rem;
        }
      }
    }

    .col-left-data {
      padding: 1.3rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      color: $color_yellow_200;
      font-size: 0.6rem;

      @media (max-width: $breakpoint_first) {
        width: 100%;
        padding: 0.7rem 0;
        align-items: center;
        justify-content: center;
      }

      span {
        strong {
          font-size: 0.9rem;
        }
      }

      span + span {
        margin-top: 0.2rem;
      }
    }

    .col-add-remove {
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      padding: 1.5rem 0 1.5rem 1rem;
      gap: 0.2rem;

      @media (max-width: $breakpoint_first) {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
      }

      span {
        border: 0.1rem solid $color_yellow_200;
        color: $color_yellow_200;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        border-radius: 0.3rem;
      }

      button {
        cursor: pointer;
        outline: none;
        border: none;
        padding: 0.3rem 0;
        width: 2rem;
        background: $color_yellow_200;
        border-radius: 0.3rem;
      }
    }
  }

  .col-description {
    color: $color_yellow_200;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;

    @media (max-width: $breakpoint_first) {
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .title {
      margin-top: 0.6rem;
      display: flex;
      align-items: flex-start;
      height: 3rem;
      font-size: 1.5rem;

      @media (max-width: $breakpoint_first) {
        margin-top: 2rem;
        height: 100%;
      }
    }

    .features {
      display: flex;
      flex-direction: column;

      @media (max-width: $breakpoint_first) {
        padding: 0;
      }

      li {
        display: flex;
        align-items: flex-start;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        gap: .5rem;
        margin: 0;
        padding: 0;

        & + * {
          margin-top: .75rem;
        }
      }

      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .col-img {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    @media (max-width: $breakpoint_first) {
      margin-top: 2rem;
      margin-bottom: 1rem;
      align-items: center;
      width: 100%;
    }

    .overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.26);
      width: 100%;
      height: 100%;
      border-radius: 0 0.8rem 0.8rem 0;

      @media (max-width: $breakpoint_first) {
        width: 0;
      }
    }

    img {
      height: 100%;
      width: auto;
      max-width: 20rem;
      border-radius: 0;

      @media (max-width: 1238px) {
        width: 100%;
      }

      @media ($breakpoint_first) {
        border-radius: 0;
      }
    }
  }
}
