<div class="container">
  <app-common-loading-data-window [message]="'loading'" [visibility]="this.busy"></app-common-loading-data-window>
  <app-private-nav-bar></app-private-nav-bar>
  <div class="main">
    <div class="flex flow-row">
      <div class="summary">
        <span>Reservation list</span>
      </div>
    </div>
    <div class="flex flow-row">
      <div class="flex flow-col col-small">
        <div class="filter-box">
          <input [value]="this.dateUtil.getDateFromISO(this.userReservationAllRequestDto.check_in)" id="check-in"
                 type="date" placeholder="Check in"
                 (input)="this.onDateSelectOptionChanged($event)"/>
          <input [value]="this.dateUtil.getDateFromISO(this.userReservationAllRequestDto.check_out)" id="check-out"
                 type="date" placeholder="Check out"
                 (input)="this.onDateSelectOptionChanged($event)"/>
          <app-private-select #roomTypeNameSelect [id]="1" [option_list]="this.roomTypeList"
                              [placeholder]="'Room type'"
                              (selectChanged)="this.onRoomTypeSelectOptionChanged($event)"></app-private-select>
          <app-private-select #capacitySelect [id]="2" [option_list]="this.numberOfPeopleList"
                              [placeholder]="'Number of people'"
                              (selectChanged)="this.onCapacitySelectOptionChanged($event)"></app-private-select>
        </div>
      </div>
      <div class="flex flow-col col-large">
        <div class="flex flow-row">
          <app-common-input-search *ngIf="errorDto.result" (valueChanged)="this.filterReservationListByValue($event)"></app-common-input-search>
        </div>
        <div class="flex flow-row">
          <app-common-toast *ngIf="!this.errorDto.result" [message]="this.errorDto.message ?? ''"></app-common-toast>
          <app-common-table *ngIf="this.errorDto.result" [table]="this.tableData"></app-common-table>
        </div>
      </div>
    </div>
  </div>
  <app-common-footer></app-common-footer>
</div>
