@import "src/styles";

.container {
  padding: 3vh 0;
}

.space-top {
  margin: 0.8vh 0;
}

.btn-slider {
  background: $color_transparent;
  cursor: pointer;
  border: none;

  img {
    width: 2rem;
    height: auto;
  }
}
