@import "src/styles";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

  .arrow {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    img {
      width: 1.5rem;
      height: auto;
      cursor: pointer;
    }
  }

  .form {
    margin-top: 3rem;
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background: $color_yellow_100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: $color_black_400;

    h2 {
      margin: 0;
      font-size: 1.3rem;
      word-wrap: break-word;
      word-break: break-word;

      @media (max-width: $breakpoint_first) {
        font-size: 1rem;
      }
    }

    span {
      text-transform: uppercase;
      text-decoration: none;
      margin: 0;
      font-size: 0.7rem;
      color: $color_black_400;
      word-wrap: break-word;
      word-break: break-word;

      @media (max-width: $breakpoint_first) {
        font-size: 0.6rem;
      }
    }

    .left {
      height: 100%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 1rem;

      .span-container {
        display: flex;
        flex-direction: column;

        .equipment {
          display: flex;
          flex-flow: wrap;
          width: 100%;

          span {
            margin: 0.3rem 0.4rem 0 0;
            height: 0.8rem;
          }
        }

        span + span {
          margin-top: 0.3rem;
        }

        strong {
          font-size: 0.8rem;
        }
      }
    }

    .right {
      position: relative;
      height: 100%;
      width: 65%;
      box-sizing: border-box;

      .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.26);
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
