<nav>
  <ul>
    <div class="flex flow-row space-between">
      <li class="logotype">
        <a href="/src/app/component/public"><img src="/assets/images/logotype.png" alt="logotype"></a>
      </li>
      <li class="burger" (click)="toggleMenu()">
        <a>&#9776;</a>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <a href="/" class="menu-item">Home</a>
        <a href="/offer-page" class="menu-item">Offer</a>
        <a href="/contact-page" class="menu-item">Contact</a>
        <a routerLink="/login-page" class="menu-item emphasis">Sign in</a>
        <a routerLink="/signup-page" class="menu-item emphasis">Sign up</a>
      </li>
    </div>
  </ul>
</nav>
