<footer>
  <div class="footer-container">
    <div class="flex flow-row space-between">
      <div id="about" class="flex flow-col">
        <h2><strong>About</strong>
          <ul>
            <li>Diamond hotel aspires to be the premium Tour Operator in the Indian Ocean.
              With that aim in mind, we continue to provide our worldwide clientele with innovative travel solutions.
            </li>
          </ul>
        </h2>
      </div>
      <div class="flex flow-col">
        <h2><strong>Contact</strong>
          <ul>
            <li id="phone" class="flex flow-row"><img src="../../../../assets/icons/phone.png"/>+48 881 942 234</li>
            <li class="flex flow-row"><img src="../../../../assets/icons/envelope.png"/>diamond.hotel@gmail.co</li>
            <li class="flex flow-row"><img src="../../../../assets/icons/navigation.png"/>Maldives, Malé Atoll</li>
          </ul>
        </h2>
      </div>
      <div class="flex flow-col">
        <h2><strong>Quick links</strong>
          <ul>
            <li><a href="#">Offer</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </h2>
      </div>
    </div>
    <hr>
    <div id="social-media" class="flex">
      <a href="#"><img src="../../../../assets/icons/facebook.png" alt="facebook"></a>
      <a href="#"><img src="../../../../assets/icons/instagram.png" alt="instagram"></a>
      <a href="#"><img src="../../../../assets/icons/twitter.png" alt="twitter"></a>
      <a href="#"><img src="../../../../assets/icons/youtube.png" alt="youtube"></a>
    </div>
  </div>
</footer>
